<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @master_stitch.name %>
</p>

<%= link_to 'Edit', edit_master_stitch_path(@master_stitch) %> |
<%= link_to 'Back', master_stitches_path %>
